*{
	box-sizing: border-box;
}

input:-webkit-autofill {
    color: #fff !important;
}

input[type=submit].button {
	-webkit-appearance: none;
}

@font-face {
    font-family: 'Garamond Premier Pro';
    src: url('garamondpremrpro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond Premier Pro';
    src: url('garamondpremrpro-it.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Univers Medium';
    src: url('universce-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers Light';
    src: url('universce-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

a{
	color: #1672B5;
	text-decoration: none;
}

html{
	background-color: #000;
}

body{
	width: 1024px;
	margin: 0 auto;
	font: 15px/22px 'Univers Light', Arial, sans-serif;
	color: #203C50;
	background-color: #fff;
}

.status-bar{
	height: 64px;
	background-image: -o-linear-gradient(105deg, #203C50 0%, #58446B 100%);
	background-image: -moz-linear-gradient(105deg, #203C50 0%, #58446B 100%);
	background-image: -webkit-linear-gradient(105deg, #203C50 0%, #58446B 100%);
	background-image: -ms-linear-gradient(105deg, #203C50 0%, #58446B 100%);
	background-image: linear-gradient(15deg, #203C50 0%, #58446B 100%);
}

/* LOGIN */
.login{
	background-image: -o-linear-gradient(143deg, #203C50 0%, #58436A 100%);
	background-image: -moz-linear-gradient(143deg, #203C50 0%, #58436A 100%);
	background-image: -webkit-linear-gradient(143deg, #203C50 0%, #58436A 100%);
	background-image: -ms-linear-gradient(143deg, #203C50 0%, #58436A 100%);
	background-image: linear-gradient(53deg, #203C50 0%, #58436A 100%);
	height: 768px;
	padding-top: 158px;
}

.login > div{
	width: 370px;
	position: relative;
	margin: 0 auto;
}

.login > div h2{
	font: 400 40px/40px 'Garamond Premier Pro', Arial;
	text-align: center;
	padding: 33px 0 15px 0;
	color: #fff;
}

.login > div h3{
	font: 100 16px/16px 'Garamond Premier Pro', serif;
	font-style: italic;
	padding: 36px 0;
	display: block;
}

.login > div .show-login{
	padding: 35px 0;
	text-align: center;
	display: block;
	font-size: 19px;
	color: #fff;
}

.fb-login,
.email-login{
	display: block;
	border-radius: 2px;
	height: 62px;
	margin-top: 22px;
	font-size: 21px;
	line-height: 62px;
	color: #fff;
	text-align: center;
	width: 370px;
	margin: 20px auto 0 auto;
	background-color: #B8B8B8;
}

#create-account{
	width: 100%;
	background-color: #1672B5;
}

#login-button,
#create-account{
	height: 44px;
	line-height: 38px;
	font-size: 22px;
	background: #fff;
	color: #58446B;
	display: block;
	width: 163px;
	float: right;
	margin: 0 0 0 22px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

#login-form .annuleren,
#register-form .annuleren{
	float: right;
	line-height: 44px;
	color: #fff;
	font-size: 16px;
}

.fb-login{
	background-image: url('/icon-fblogin.png');
	background-position: 20px center;
	background-repeat: no-repeat;
	padding-left: 20px;
	background-color: #3B5798;
}

.login input{
	border: none;
	background-color: transparent;
	border-radius: 0;
	height: 54px;
	width: 100%;
	font: 14px/20px 'Univers', Arial, sans-serif;
}

.login #login-email{
	border-bottom: 1px solid #EBEAEB;
}

.login input:focus{
	outline: none;
}

.login input:-webkit-autofill {
    background-color: transparent !important;
}

#login-form,
#register-form{
	width: 370px;
	position: absolute;
	transition: all .7s ease-in-out;
	opacity: 1;
	top: 0;
}

#login-form.hidden,
#register-form.hidden{
	-webkit-transform: translate(700px, 0);
	transform: translate(700px, 0);
	opacity: 0;
}

#login-form div,
#register-form div{
	background: #fff;
	padding: 0 20px;
	border-radius: 2px;
	margin-bottom: 25px;
}

.register-buttons{
	transition: all .7s ease-in-out;
	opacity: 1;
}

.register-buttons.hidden{
	-webkit-transform: translate(-700px, 0);
	transform: translate(-700px, 0);
	opacity: 0;
}

/* ADMIN */
.admin{
	padding: 25px;
}

.admin input,
.admin textarea{
	width: 100%;
	max-width: 500px;
}

.admin label{
	float: left;
}