/* =============================================
=================== RESETS =====================
============================================= */
*{
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar{ 
	display: none; 
}

input, textarea{
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	user-select: text;
}

input:-webkit-autofill {
    color: #fff !important;
}

input[type=submit]{
	-webkit-appearance: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* =============================================
=================== GENERAL ====================
============================================= */
a{
	color: #1672B5;
	text-decoration: none;
}

html{
	background-color: #000;
	height: 768px;
	overflow: hidden;
}

body{
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	font: 200 15px/25px 'Open Sans', Arial, sans-serif;
	color: #7A7A7A;
	background-color: #fff;
	overflow: hidden;
}

.wrapper{
	height: 768px;
	padding-top: 64px;
	overflow: scroll;
	transition: all .5s ease-in-out;
}

h3{
	color: #754775;
	font-size: 30px;
	font-weight: 200;
	padding: 0 0 20px 0;
}

h4{
	color: #754775;
	font-size: 25px;
	font-weight: 200;
	padding: 4px 0 10px 0;
}

.wrapper.off{
	opacity: 0;
	transition: all 0s ease-in-out;
}

/* =============================================
================= STATUS BAR ===================
============================================= */
.status-bar{
	height: 64px;
	padding: 30px 0 0 0;
	background-color: #754775;
	position: fixed;
	width: 1024px;
	z-index: 99;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.status-bar.hidden{
	display: none;
}

.status-bar.hidden ~ .wrapper{
	padding-top: 0;
}

.status-bar .previous{
	display: block;
	width: 32px;
	height: 22px;
	background: url('/icon-previous.png');
	float: left;
	margin: 0 0 0 20px;
}

.status-bar .profile-link{
	display: block;
	width: 30px;
	height: 18px;
	background: url('/icon-inbox@2x.png');
	background-size: 30px 18px;
	background-repeat: no-repeat;
	background-position: right center;
	float: right;
	margin: 0 20px 0 0;
}

.status-bar span{
	display: inline-block;
	padding: 0 29px 0 0;
	background-image: url('/icon-showmenu.png');
	background-position: right 8px;
	background-repeat: no-repeat;
}

nav{
	background: rgba(172,145,172,.9);
	position: fixed;
	top: 64px;
	width: 1024px;
	z-index: 99;
	padding: 15px 0;
	overflow: hidden;
	transition: all .4s ease-in-out;
	height: 365px;
	opacity: 1;
}

nav.hidden{
	height: 0;
	padding: 0;
	opacity: 0;
}

nav ul{
	list-style-type: none;
}

nav a{
	display: block;
	text-align: center;
	color: #fff;
	padding: 15px 0;
	font-size: 22px;
	font-weight: 200;
}

/* =============================================
================ LOGIN SCREEN ==================
============================================= */
.login{
	background-image: url('/bg-login.png');
	height: 100%;
	padding-top: 222px;
	overflow: hidden;
}

.login > div{
	width: 370px;
	position: relative;
	margin: 0 auto;
}

.login > div h2{
	font-size: 48px;
	line-height: 48px;
	font-weight: 200;
	text-align: center;
	padding: 33px 0 15px 0;
	color: #fff;
}

.login > div .show-login{
	padding: 35px 0;
	text-align: center;
	display: block;
	font-size: 19px;
	color: #fff;
}

.fb-login,
.email-login{
	display: block;
	height: 44px;
	font-size: 19px;
	line-height: 44px;
	color: #754775;
	width: 370px;
	margin: 20px auto 0 auto;
	background-color: #fff;
	padding: 0 0 0 75px;
	position: relative;
}

.email-login span{
	width: 50px;
	height: 44px;
	position: absolute;
	left: 0;
	background: url('/icon-emaillogin@2x.png');
	background-size: 27px 18px;
	background-repeat: no-repeat;
	background-position: 12px center;
	border-right: 1px solid #D9D9D9;
}

.fb-login span{
	width: 50px;
	height: 44px;
	position: absolute;
	left: 0;
	background: url('/icon-loginfacebook@2x.png');
	background-size: 12px 22px;
	background-repeat: no-repeat;
	background-position: 19px center;
	border-right: 1px solid #324A7C;
}

#create-account{
	width: 100%;
	background-color: #1672B5;
}

#login-button,
#create-account{
	height: 44px;
	line-height: 38px;
	font-size: 20px;
	color: #fff;
	display: block;
	width: 163px;
	float: right;
	margin: 0 0 0 22px;
	font-weight: 600;
	border: 2px solid #fff;
	background: transparent;
}

#login-form .annuleren,
#register-form .annuleren{
	float: right;
	line-height: 44px;
	color: #fff;
	font-size: 16px;
}

.fb-login{
	background-color: #3B5898;
	color: #fff;
}

.login input{
	border: none;
	background-color: transparent;
	border-radius: 0;
	height: 54px;
	width: 100%;
	font: 15px/20px 'Univers', Arial, sans-serif;
}

.login #login-email{
	border-bottom: 1px solid #EBEAEB;
}

.login input:focus{
	outline: none;
}

.login input:-webkit-autofill {
    background-color: transparent !important;
}

#login-form,
#register-form{
	width: 370px;
	position: absolute;
	transition: all .7s ease-in-out;
	opacity: 1;
	top: 0;
}

#login-form h2,
#register-form h2{
	margin-bottom: 20px;
	white-space: nowrap;
}

#login-form.hidden,
#register-form.hidden{
	-webkit-transform: translate(700px, 0);
	transform: translate(700px, 0);
	opacity: 0;
}

#login-form div,
#register-form div{
	background: #fff;
	padding: 0 20px;
	border-radius: 2px;
	margin-bottom: 25px;
}

.register-buttons{
	transition: all .7s ease-in-out;
	opacity: 1;
}

.register-buttons.hidden{
	-webkit-transform: translate(-700px, 0);
	transform: translate(-700px, 0);
	opacity: 0;
}

/* =============================================
================ ADMIN SCREEN ==================
============================================= */
.admin{
	padding: 25px;
	background: #f0f0f0;
}

.admin input,
.admin textarea{
	width: 100%;
	max-width: 500px;
}

.admin input[type="file"]{
	width: 320px;
	background-color: transparent;
}

.admin input.hidden{
	display: none;
}

.admin label{
	float: left;
}

.admin > div{
	background-color: #fff;
	border-radius: 4px;
	width: 477px;
	padding: 25px;
	margin: 20px 0 0 0;
	float: left;
}

.admin > div:nth-child(2n){
	margin-right: 20px;
}

.admin > div:first-child{
	width: 100%;
}

.admin > div:first-child a{
	float: right;
}

.admin h2{
	font-weight: 600;
	font-size: 18px;
	padding: 0 0 15px 0;
}

.admin input,
.admin textarea,
.admin select{
	border: none;
	background-color: #f0f0f0;
	border-radius: 0;
	height: 30px;
	width: 100%;
	font-size: 13px;
	margin-bottom: 10px;
	padding: 0 15px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.admin textarea{
	height: 100px;
	padding: 7px 15px;
	margin-bottom: 5px;
}

.admin input[type="submit"]{
	background-color: #8A7C97;
	color: #fff;
	font-weight: 600;
	font-size: 15px;
	line-height: 30px;
}

.admin > div p{
	padding-bottom: 15px;
	font-size: 12px;
}

.admin > div p strong{
	font-weight: 600;
}

/* =============================================
================= HOME SCREEN ==================
============================================= */
.home{
	padding: 27px;
}

.home ul{
	display: block;
	margin-bottom: 30px;
}

.home li{
	float: left;
	width: 305px;
	height: 195px;
	margin: 0 0 0 25px;
	list-style-type: none;
	position: relative;
}

.home li:first-child{
	margin: 0;
}

.home li a,
.home li a img{
	width: 100%;
	height: 100%;
	display: block;
	background-size: cover;
	background-position: center;
}

.home li span{
	display: block;
	font-weight: 200;
	font-size: 17px;
	color: #7A7A7A;
	position: absolute;
	bottom: -25px;
	left: 0;
}

.home-heroes-header > a{
	float: right;
	color: #754775;
	font-size: 18px;
}

.home-heroes-header > h3{
	float: left;
}

.home-heroes{
	overflow: scroll;
}

.home-heroes ul{
	display: block;
	width: 3000px;
	margin: 0 0 0 -27px;
	padding: 0 0 0 27px;
	height: 280px;
	overflow: scroll;
	white-space: nowrap;
}

.home-heroes ul li{
	display: inline-block;
	width: 660px;
	height: 240px;
	background-color: #F6F6F6;
	float: left;
	white-space: normal;
	border-right: 40px solid #fff;
	box-sizing: content-box;
}

.home-heroes .image{
	width: 305px;
	height: 240px;
	text-align: center;
	float: left;
	margin: 0 23px 0 0;
	overflow: hidden;
}

.home-heroes .image img{
	min-width: 100%;
	height: 100%;
}

.home-heroes .info{
	padding: 13px 23px 121px 0;
	font-size: 13px;
	color: #7A7A7A;
	position: relative;
	height: 100%;
}

.home-heroes .info a{
	color: #754775;
	font-weight: 700;
	font-size: 15px;
	position: absolute;
	bottom: 19px;
	right: 33px;
	height: auto;
	width: auto;
}

.home-heroes .info a:after{
	width: 8px;
	height: 15px;
	display: block;
	content: '';
	background-image: url('/icon-linkarrow.png');
	float: right;
	margin: 4px 0 0 10px;
}

.home-inspiration{
	margin-top: 35px;
}

/* =============================================
=============== PRODUCTS SCREEN ================
============================================= */
.products .products-filters{
	width: 1024px;
	height: 70px;
	background-color: #F6F6F6;
	padding: 12px 30px;
	position: relative;
}

.products .products-filters input,
.products .products-filters span{
	width: 698px;
	background-color: #fff;
	border: none;
	height: 46px;
	font-size: 18px;
	padding: 0 46px;
	font-weight: 200;
	color: #7A7A7A;
	margin: 0 25px 0 0;
	background-image: url('/icon-search@2x.png');
	background-size: 22px 21px;
	background-repeat: no-repeat;
	background-position: 16px center;
}

.products .products-filters span{
	width: 240px;
	padding: 0 29px;
	line-height: 46px;
	display: inline-block;
	margin: 0;
	float: right;
	background-image: url('/icon-dropdown@2x.png');
	background-size: 18px 12px;
	background-repeat: no-repeat;
	background-position: 207px 19px;
}

.products .products-filters span.highlight{
	font-weight: 600;
}

.products .products-filters .products-categories{
	background-color: #fff;
	position: absolute;
	display: block;
	list-style-type: none;
	right: 30px;
	margin-top: 1px;
	width: 240px;
	height: auto;
	padding: 0 30px;
	border: 1px solid #F6F6F6;
	overflow: hidden;
	opacity: 1;
	transition: all .5s ease-in-out;
}

.products .products-filters .products-categories.hidden{
	height: 0;
	opacity: 0;
}

.products .products-filters .products-categories li{
	display: block;
	padding: 8px 0;
	font-size: 18px;
	font-weight: 200;
}

.products .products-filters .products-categories li:first-child{
	padding-top: 23px;
}

.products .products-filters .products-categories li:last-child{
	padding-bottom: 23px;
}

.products .products-overview{
	padding: 30px 18px 0 18px;
}

.products .products-overview > a{
	width: 470px;
	height: 370px;
	margin: 0 12px 30px 12px;
	overflow: hidden;
	display: block;
	background-color: #F6F6F6;
	float: left;
}

.products .products-overview > a img{
	min-width: 100%;
	height: 100%;
}

/* =============================================
=============== PRODUCT DETAIL =================
============================================= */
.product-detail{
	padding: 0 0 30px 0;
}

.product-detail .product-photos{
	display: block;
	width: 100%;
	height: 580px;
	overflow: scroll;
	white-space: nowrap;
}

.product-detail .product-photos img{
	height: 570px;
	margin: 0 0 0 3px;
	list-style-type: none;
	overflow: hidden;
	position: relative;
	display: inline-block;
	background-color: #F6F6F6;
	float: none;
	white-space: normal;
	box-sizing: content-box;
}

.product-detail .product-photos img:first-child{
	margin: 0;
}

.product-detail .product-info{
	width: 664px;
	padding: 20px 59px 30px 30px;
	float: left;
}

.product-detail .product-sidebar{
	float: left;
	width: 330px;
	padding: 23px 0 0 0;
}

.product-detail .product-sidebar .favorite,
.product-detail .product-sidebar .favorited{
	width: 37px;
	height: 35px;
	float: right;
	clear: both;
	margin: 0 0 18px 0;
}

.product-detail .product-sidebar .maker{
	background-color: #F6F6F6;
	float: left;
	width: 100%;
	padding: 25px;
	position: relative;
}

.product-detail .product-sidebar .maker h4{
	line-height: 34px;
}

.product-detail .product-sidebar .maker .image{
	width: 100px;
	height: 100px;
	background: #D4D4D4;
	float: left;
	margin: 0 25px 0 0;
	overflow: hidden;
}

.product-detail .product-sidebar .maker .image img{
	min-width: 100%;
	height: 100%;
}

.product-detail .product-sidebar .maker p{
	display: block;
	margin: 50px 0 57px 0;
}

.product-detail .product-sidebar .maker a{
	color: #754775;
	font-weight: 700;
	font-size: 15px;
	position: absolute;
	bottom: 19px;
	right: 25px;
	height: auto;
	width: auto;
}

.product-detail .product-sidebar .maker a:after{
	width: 8px;
	height: 15px;
	display: block;
	content: '';
	background-image: url('/icon-linkarrow.png');
	float: right;
	margin: 4px 0 0 10px;
}

/* =============================================
=============== PROFILE SCREEN =================
============================================= */
.profile .profile-sidebar{
	width: 330px;
	height: 704px;
	background-color: #F6F6F6;
	float: left;
	overflow: scroll;
	padding: 30px;
	position: fixed;
}

.profile .profile-sidebar .image{
	width: 270px;
	height: 200px;
	background-color: #9B9B9B;
	margin: 0 0 16px 0;
	overflow: hidden;
}

.profile .profile-sidebar .image img{
	min-width: 100%;
	height: 100%;
}

.profile .profile-sidebar > span{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.profile .profile-sidebar h5{
	font-size: 19px;
	font-weight: 200;
	color: #AC91AC;
	padding: 25px 0 10px 0;
}

.profile .profile-sidebar h5.login-data{
	padding: 45px 0 10px 0;
}

.profile .profile-sidebar h5 a{
	width: 19px;
	height: 20px;
	display: block;
	float: right;
	background-image: url('/icon-edit.png');
}

.profile .profile-content{
	width: 694px;
	height: 704px;
	overflow: scroll;
	float: left;
	padding: 30px 0 30px 30px;
	margin: 0 0 0 330px;
}

.profile .profile-content > div{
	width: 100%;
	margin: 0 0 47px 0;
}

.profile .profile-favorites > a,
.profile .profile-currentprojects > a{
	width: 302px;
	height: 240px;
	margin: 0 30px 30px 0;
	background-color: #F6F6F6;
	float: left;
	overflow: hidden;
	display: block;
}

.profile .profile-currentprojects > a{
	background-color: #754775;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 20px;
}

.profile .profile-currentprojects > a em{
	font-size: 42px;
	line-height: 50px;
	display: block;
	padding: 0 0 8px 0;
	font-weight: 200;
}

.profile .profile-favorites h3 a{
	color: #754775;
}

.profile .profile-favorites > a img{
	width: 100%;
}

/* =============================================
================ MY FAVORITES ==================
============================================= */
.my-favorites{
	padding: 30px 5px 30px 30px;
}

.my-favorites > a{
	width: 304px;
	height: 240px;
	margin: 0 25px 25px 0;
	background-color: #F6F6F6;
	float: left;
	overflow: hidden;
	display: block;
}

.my-favorites > a img{
	width: 100%;
}

/* =============================================
================ MAKER SCREEN ==================
============================================= */
.maker .maker-sidebar{
	width: 330px;
	height: 704px;
	background-color: #F6F6F6;
	float: left;
	overflow: scroll;
	padding: 30px;
	z-index: 1;
	position: relative;
}

.maker .maker-sidebar .image{
	width: 270px;
	height: 200px;
	background-color: #9B9B9B;
	margin: 0 0 16px 0;
	overflow: hidden;
}

.maker .maker-sidebar .image img{
	min-width: 100%;
	height: 100%;
}

.maker .maker-sidebar .maker-contact-link{
	width: 270px;
	height: 48px;
	line-height: 48px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	background-color: #754775;
	display: block;
	margin: 39px auto;
}

.maker .maker-sidebar .maker-rating{
	border-top: 1px solid #B9B9B9;
	width: 330px;
	margin-left: -30px;
	padding: 30px;
}

.maker .maker-sidebar .maker-rating span{
	width: 125px;
	height: 100px;
	background-color: #EBEBEB;
	display: block;
	color: #7A7A7A;
	float: left;
	text-align: center;
	padding: 20px 0 0 0;
}

.maker .maker-sidebar .maker-rating span:first-child{
	margin: 0 20px 0 0;
}

.maker .maker-sidebar .maker-rating span em{
	display: block;
	color: #754775;
	font-size: 28px;
	font-weight: 600;
	padding: 0 0 13px 0;
}

.maker .maker-content{
	width: 694px;
	height: 704px;
	overflow: scroll;
	float: left;
	padding: 30px 0 30px 30px;
	transition: all .4s ease-in-out;
	opacity: 1;
}

.maker-content-top a{
	float: right;
	color: #754775;
	font-weight: 600;
	font-size: 18px;
	margin: 13px 30px 0 0;
}

.maker-content-top span{
	float: left;
}

.maker .maker-content .maker-products > a{
	width: 302px;
	height: 240px;
	margin: 0 30px 30px 0;
	background-color: #F6F6F6;
	float: left;
	overflow: hidden;
	display: block;
	position: relative;
	background-size: cover;
	background-position: center;
}

.maker .maker-content .availability{
	display: block;
	color: #F6D326;
	font-weight: 600;
	font-size: 17px;
	line-height: 48px;
	padding: 0 0 30px 68px;
	background-image: url('/icon-mediumavailability.png');
	background-repeat: no-repeat;
}

.maker .maker-content .availability.low{
	background-image: url('/icon-lowavailability.png');
	color: #7ED321;
}

.maker .maker-content .availability.high{
	background-image: url('/icon-highavailability.png');
	color: #FF3D00;
}

.maker .maker-contact{
	width: 694px;
	position: absolute;
	top: 64px;
	left: 330px;
	padding: 13px 0 0 0;
	transition: all .4s ease-in-out;
	opacity: 1;
}

.maker .maker-contact.hidden{
	-webkit-transform: translate(-694px, 0);
	transform: translate(-694px, 0);
	opacity: 0;
}

.maker .maker-content.hidden{
	-webkit-transform: translate(694px, 0);
	transform: translate(694px, 0);
	opacity: 0;
}

.maker .maker-contact form div{
	height: 46px;
	border-bottom: 1px solid #F6F6F6;
	line-height: 46px;
	padding: 0 30px;
	font-size: 16px;
}

.maker .maker-contact form em{
	font-weight: 600;
	display: inline-block;
	width: 100px;
	margin: 0 38px 0 0;
}

.maker .maker-contact form div input{
	border: none;
	background: transparent;
	height: 46px;
	line-height: 46px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}

.maker .maker-contact form textarea{
	height: 530px;
	width: 100%;
	border: none;
	font: 400 16px/25px 'Open Sans', sans-serif;
	padding: 25px 30px;
}

.maker .maker-contact form .cancel{
	float: left;
	line-height: 32px;
	padding: 0 0 0 30px;
}

.maker .maker-contact form input[type="submit"]{
	color: #754775;
	font: 700 20px/25px 'Open Sans', sans-serif;
	border: none;
	margin: 0 15px;
	float: right;
}

/* =============================================
================ HEROES SCREEN =================
============================================= */
.heroes .heroes_hero{
	width: 100%;
	height: 420px;
	background-color: #F6F6F6;
	position: relative;
	margin: 0 0 3px 0;
	display: block;
	color: #7A7A7A;
}

.heroes .heroes_hero > div{
	top: 115px;
	left: 523px;
	position: absolute;
	width: 387px;
}

.heroes .heroes_hero:nth-child(even) > div{
	left: 113px;
}

.heroes .heroes_hero h4{
	font-size: 30px;
}

/* =============================================
================= HERO SCREEN ==================
============================================= */
.hero .hero-header{
	width: 100%;
	height: 420px;
	background-color: #F6F6F6;
	position: relative;
	overflow: hidden;
}

.hero .hero-header > div{
	top: 115px;
	left: 523px;
	position: absolute;
	width: 387px;
}

.hero .hero-header > div a{
	color: #754775;
	font-weight: 700;
	font-size: 15px;
	margin: 21px 0 0 0;
	float: right;
}

.hero .hero-header > div a:after{
	width: 8px;
	height: 15px;
	display: block;
	content: '';
	background-image: url('/icon-linkarrow.png');
	float: right;
	margin: 5px 0 0 10px;
}

.hero .info{
	padding: 30px;
}

.hero .info > p{
	margin-bottom: 40px;
}

/* =============================================
============ NEW COMMISSION SCREEN =============
============================================= */
.new-commission{
	overflow: hidden;
	height: 704px;
}

.new-commission h3{
	font-size: 35px;
}

.new-commission-content{
	padding: 30px;
	position: relative;
}

.new-commission-content form > div{
	position: absolute;
	top: 30px;
	left: 30px;
	width: 964px;
	height: 674px;
	opacity: 1;
	transition: all .7s ease-in-out;
}

.new-commission-content form > div.hidden-left{
	opacity: 0;
	-webkit-transform: translate(-994px, 0);
	transform: translate(-994px, 0);
}

.new-commission-content form > div.hidden-right{
	opacity: 0;
	-webkit-transform: translate(994px, 0);
	transform: translate(994px, 0);
}

.new-commission-content p,
.new-commission-content textarea{
	width: 717px;
}

.new-commission-content label{
	padding: 33px 0 0 0;
	display: block;
}

.new-commission-content label em{
	color: #754775;
	font-size: 18px;
	font-weight: 600;
	display: block;
}

.new-commission input{
	height: 60px;
	background-color: #F6F6F6;
	border: none;
	border-radius: 0;
	font-size: 14px;
	font-weight: 200;
	padding: 0 20px;
	color: #7A7A7A;
	width: 410px;
	margin: 10px 0 0 0;
	font-family: 'Open Sans', arial, sans-serif;
}

.new-commission textarea{
	height: 200px;
	background-color: #F6F6F6;
	border: none;
	border-radius: 0;
	font-size: 14px;
	font-weight: 200;
	padding: 20px;
	color: #7A7A7A;
	margin: 10px 0 0 0;
	font-family: 'Open Sans', arial, sans-serif;
}

.new-commission-controls{
	position: absolute;
	bottom: 30px;
	width: 964px;
	text-align: center;
}

.new-commission-controls a{
	color: #754775;
	font-weight: 600;
	font-size: 15px;
}

.new-commission-controls .next{
	float: right;
}

.new-commission-controls .previous{
	float: left;
}

.new-commission-content .choose-favorites{
	width: 100%;
	background-color: #fff;
	height: 704px;
	overflow: auto;
	position: absolute;
	top:-30px;
	z-index:1;
	padding: 30px 0 0 0;
	transition: all .3s ease-in-out;
}

.new-commission-content .choose-favorites.hidden-bottom{
	-webkit-transform: translate(0, 704px);
	transform: translate(0, 704px);
}

.new-commission-content .choose-favorites div{
	width: 222px;
	height: 222px;
	background-color: #F6F6F6;
	margin: 0 25px 25px 0;
	float: left;
	overflow: hidden;
}

.new-commission-content .choose-favorites div:nth-child(4n),
.new-commission-content .choose-favorites-buttons li:nth-child(4n){
	margin: 0 0 25px 0;
}

.new-commission-content .choose-favorites div img{
	height: 100%;
	min-width: 100%;
}

.new-commission-content .choose-favorites-buttons{
	padding: 25px 0 0 0;
}

.new-commission-content .choose-favorites-buttons li{
	list-style-type: none;
	width: 222px;
	height: 222px;
	border: 2px solid #58446B;
	margin: 0 25px 25px 0;
	float: left;
	line-height: 218px;
	color: #58445B;
	font-weight: 200;
	font-size: 90px;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.new-commission-content .choose-favorites-buttons li img{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	min-width: 100%;
}

.new-commission-content #commission-favorite1,
.new-commission-content #commission-favorite2,
.new-commission-content #commission-favorite3,
.new-commission-content #commission-favorite4{
	display: none;
}

.new-commission .step.three .commission-favorite1-text,
.new-commission .step.three .commission-favorite2-text,
.new-commission .step.three .commission-favorite3-text,
.new-commission .step.three .commission-favorite4-text{
	width: 340px;
	position: absolute;
	top: 10px;
	background-color: #7A7A7A;
	height: 190px;
}

.new-commission .step.three .commission-favorite1-text.hidden,
.new-commission .step.three .commission-favorite2-text.hidden,
.new-commission .step.three .commission-favorite3-text.hidden,
.new-commission .step.three .commission-favorite4-text.hidden{
	display: none;
}

.new-commission .step.three .commission-favorite2-text{
	left: 248px;
}

.new-commission .step.three .commission-favorite3-text{
	left: 495px;
}

.new-commission .step.three .commission-favorite4-text{
	left: 623px;
}

.new-commission .step.three textarea{
	width: 100%;
	height: 100%;
	margin: 0;
}

.new-commission .step.three .commission-favorite1-text span,
.new-commission .step.three .commission-favorite2-text span,
.new-commission .step.three .commission-favorite3-text span,
.new-commission .step.three .commission-favorite4-text span{
	background-color: #AC91AC;
	position: absolute;
	display: block;
	color: #fff;
	font-weight: 600;
	padding: 12px;
	font-size: 11px;
	bottom: 0;
	right: 0;
	line-height: 11px;
}

.new-commission .step.four h4{
	margin-top: 30px;
	color: #754775;
	font-size: 18px;
	font-weight: 600;
}

/* =============================================
========== PROJECT MILESTONES SCREEN ===========
============================================= */
.project .project-info{
	padding: 80px;
	text-align: center;
	height: 475px;
}

.project .project-info h3{
	font-size: 45px;
	line-height: 61px;
}

.project .project-info h4{
	color: #AC91AC;
	font-size: 19px;
	margin-top: -15px;
}

.project .project-timeline{
	padding: 0 30px;
	position: relative;
}

progress[value]{
  -webkit-appearance: none;
   appearance: none;
  width: 100%;
  height: 5px;
}

progress[value]::-webkit-progress-bar{
	background-color: #EBEBEB;
}

progress[value]::-webkit-progress-value {
	background-color: #7ED321;
}

.project .project-timeline .milestone{
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 30px;
	position: absolute;
	list-style-type: none;
	top: -12px;
	border: 5px solid #EBEBEB;
}

.project .project-timeline .milestone.active{
	border: 5px solid #7ED321;
}

.project .project-timeline .milestone:nth-child(2){
	left: 160px;
}

.project .project-timeline .milestone:nth-child(3){
	left: 300px;
}

.project .project-timeline .milestone:nth-child(4){
	left: 570px;
}

.project .project-timeline .milestone:nth-child(5){
	left: 650px;
}

.project .project-timeline .milestone:nth-child(6){
	left: 934px;
}

.project .project-timeline .milestone div{
	width: 340px;
	height: 190px;
	background-color: #F6F6F6;
	padding: 15px;
	position: relative;
	margin-top: -220px;
	margin-left: -20px;
	opacity: 1;
	transition: all .3s ease-in-out;
}

.project .project-timeline .milestone:last-child div{
	margin-left: -310px;
}

.project .project-timeline .milestone div.hidden{
	opacity: 0;
}

.project .project-timeline .milestone div h5{
	color: #AC91AC;
	font-weight: 600;
	font-size: 16px;
	padding: 0 0 25px 0;
}

.project .project-timeline .milestone div span{
	position: absolute;
	top: 0;
	right: 0;
	background-color: #AC91AC;
	font-weight: 600;
	padding: 12px;
	color: #fff;
	font-size: 14px;
}

.project .project-timeline .milestone > span{
	white-space: nowrap;
	position: absolute;
	bottom: -80px;
	left: 0;
}

.project .project-milestone{
	padding: 160px 0 0 0;
}

.project .project-milestone div.hidden{
	display: none;
}

.project .project-milestone div img{
	width: 511px;
	height: 240px;
	float: left;
	margin-bottom: 30px;
}

.project .project-milestone div img:first-child{
	margin-right: 2px;
}

.project .project-milestone div p{
	display: block;
	padding: 30px;
}

/* =============================================
================= INBOX SCREEN =================
============================================= */
.inbox .inbox-overview{
	padding: 30px;
}

.inbox .inbox-item{
	width: 222px;
	height: 175px;
	background-color: #F6F6F6;
	position: relative;
	float: left;
	margin: 0 25px 45px 0;
	background-size: cover;
	background-position: center;
}

.inbox .inbox-item:nth-child(4n){
	margin: 0 0 45px 0;
}

.inbox .inbox-item span{
	position: absolute;
	bottom: -28px;
	left: 0;
}

.inbox .inbox-item span:first-child{
	right: 10px;
	bottom: 6px;
	left: auto;
	font-weight: 600;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.17);
	font-size: 13px;
	color: #fff;
}

.inbox .inbox-overview{
	transition: all .7s ease-in-out;
	width: 1024px;
	height: 704px;
}

.inbox .inbox-overview.small{
	width: 283px;
	height: 704px;
	overflow: scroll;
	float: left;
	border-right: 1px solid #D4D4D4;
}

.inbox .inbox-messages{
	width: 741px;
	height: 704px;
	overflow: scroll;
	float: left;
}

.inbox .message.closed{
	height: 0;
	opacity: 0;
}

.inbox .message{
	height: auto;
	opacity: 1;
	transition: all .5s ease-in-out;
}

.inbox .message .sender{
	height: 46px;
	line-height: 46px;
	padding: 0 30px 0 30px;
	border-bottom: 1px solid #D4D4D4;
}

.inbox .message .subject,
.inbox .short{
	height: 46px;
	line-height: 46px;
	padding: 0 30px;
	border-bottom: 1px solid #D4D4D4;
}

.inox .short{
	height: 46px;
	opacity: 1;
	transition: all .5s ease-in-out;
}

.inbox .short.open{
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.inbox .message .subject span:first-child,
.inbox .message .sender span:first-child,
.inbox .short span:first-child{
	display: inline-block;
	width: 123px;
	font-weight: 600;
}

.inbox .short span:first-child{
	color: #AC91AC;
	font-weight: 200;
}

.inbox .message .sender span:last-child,
.inbox .short span:last-child{
	color: #B9B9B9;
	font-weight: 600;
	font-size: 13px;
	float: right;
}

.inbox .message .message-content{
	padding: 30px;
	border-bottom: 1px solid #D4D4D4;
}